* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #333;
}
body {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  color: white;
}
.container {
  margin: 10px auto;
  width: 600px;
  height: 384px;
  position: relative;
}
.container img {
  position: absolute;
  opacity: 0;
  z-index: 1;
  transition: opacity 1s;
}
.container .active {
  opacity: 1;
}
.slide_number {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.431);
  font-size: 20px;
  font-weight: bold;
  width: 200px;
  padding: 5px;
  border-radius: 7px;
  color: white;
}
.slider_controls {
  width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.slider_controls .prev {
  background-color: rgb(17, 122, 122);
  color: white;
  font-size: 20px;
  width: 120px;
  text-align: center;
  padding: 5px;
  border-radius: 7px;
  cursor: pointer;
}
.slider_controls .next {
  background-color: rgb(17, 122, 122);
  color: white;
  font-size: 20px;
  width: 120px;
  text-align: center;
  padding: 5px;
  border-radius: 7px;
  cursor: pointer;
}
.slider_controls .disabled {
  opacity: 0.3;
  cursor: no-drop;
}
.slider_controls .indicators ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.slider_controls .indicators ul .active {
  background-color: rgb(17, 122, 122);
  color: white;
  padding: 5px;
  border-radius: 5px;
}
@media (max-width: 600px) {
  .container {
    width: 300px;
    margin: 0;
    height: 200px;
  }
  .slider_controls {
    width: 300px;
  }
  .container img {
    width: 300px;
  }
}
